* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pad-bottom-small {
    padding-bottom: .5rem;
}

.pad-bottom-medium {
    padding-bottom: 1rem;
}

.pad-bottom-big {
    padding-bottom: 2rem;
}

.pad-bottom-biggest {
    padding-bottom: 3rem;
}

ul {
    list-style-type: none;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;

}

img {
    width: 100%;

}

.header-container {
    width: 100%;
    background-color: white;
    padding: 1.5rem 1rem 1.5rem 0;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
}

.main-column {
    min-width: 30%;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
    padding: 0 2rem;
    font-size: 18px;
    font-weight: 100;
}

.header-button {
    text-decoration: none;
    background-color: #0061FF;
    padding: .5rem .7rem;
    color: white;
}

.section-blue {
    padding-top: 4rem;
    background-color: #B4D0E7;

}

.section-blue-button {
    font-size: 20px;
    font-weight: 100;
    background-color: #0B68FF;
}

.big-container {
    max-width: 1200px;
    margin: auto;
}

.small-container {
    max-width: 1000px;
    margin: auto;
}

.big-container.relative {
    position: relative;
    top: 100px;
}

.big-container img {
    width: 800px;
}

.big-container>h1 {
    font-size: 90px;
    font-weight: bolder;
    padding-bottom: 3rem;
}

.big-container p {
    font-size: 20px;
    padding: 0 0 2rem 0;
}

.button-description {
    padding: 2rem 0;
    font-size: 19px;
}

.section-blue-icon {
    font-size: 50px;
    position: absolute;
    bottom: 110px;
    left: 0;
}

/* section2 */
.section-2 {
    padding: 10rem 0;
}

.section-2 h4 {
    padding-left: .5rem;
}

.radio-button {
    padding-right: 2rem;
    font-size: 18px;
}

.gap {
    gap: 2rem;
}

.column {
    flex-grow: 1;
}

.column-no-grow {
    flex-grow: 0;
}

.card {
    border: 1px solid grey;
    min-height: 910px;
}

.sub-card {
    border: 1px solid grey;
}

.card-title {
    padding: .5rem 0;
    border-bottom: 1px solid grey;
    text-align: center;
}

.card-subtitle {
    padding: 3rem 2rem;
}

.icons {
    padding-right: .5rem;
}

.button-position {
    margin-bottom: 2rem;
    position: relative;
    left: calc(50% - 185px/2);
}

.bold {
    font-weight: bold;
}

.color-grey {
    color: grey;
}








/* Section3 */
.section-3 {
    padding: 7rem 0;
}

.section-3 img {
    width: 660px;
    padding-right: 3rem;
}

.section-3 a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: .5rem .7rem;
    border: 1px solid black;
    height: 35px;
}

.section-3-description-container {
    padding: 3rem 0;
}

.section-3-description-container h2 {
    font-size: 30px;
    padding-bottom: 1rem;
}

.section-3-description-container p {
    font-size: 20px;
    padding-bottom: 2rem;
}

/* Section4 */
.section-4 {
    padding: 3rem 0;
}

.section-4 h1 {
    font-size: 50px;
    padding-bottom: 4rem;
}

.section-4 h2 {
    font-size: 28px;
    padding-bottom: 2rem;
}

.section-4 p {
    font-size: 19px;

}

.wrap-fix-column {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 3rem;
}

.section-4 .column {
    min-height: 400px;
    width: calc((100% - 20px*3) / 3);
}

.section-4 img {
    width: 100%;
}

/* Section5 */
.section-5 {
    padding: 7rem 0;
}

.section-5 h1 {
    width: 70%;
    font-size: 50px;
    padding-bottom: 4rem;
}

.section-5 a {
    color: blue;
    font-size: 20px;
}

/* Section6 */
.section-6 {
    padding-top: 3rem;
}

.section-6 img {
    width: 150px;
    filter: invert(1);
}

.little-container {
    padding: 3rem 3rem;
}

.full-screen {
    width: 100%;

}

.flex-center {
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: #F5F5F5;
}

.partition {
    width: calc(100% / 3);

}

.half-partition {
    width: 50%;
    height: calc(100vw / 6);
}

.section-6-br-line {
    width: 120px;
    padding: 3rem 0 3rem 0;
    ;
}

/* section7 */
.section-7 {
    background-color: #B4D0E7;
    padding: 7rem 0;
}

.section7-purple-title {
    font-weight: bold;
    color: #61082B;
    font-size: 50px;
    flex-basis: 60%;
}

.section-7 .flex {
    justify-content: space-between;
}

.section-7 a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: .5rem 3rem;
    margin-top: 5px;
    height: 35px;
}




/* Lastsection */
.section-8 {
    padding: 8rem 0;
}

.question {
    justify-content: space-between;
    flex-basis: 200px;
    border-top: 1px solid #999999;
    padding: 3rem 0;
    font-size: 20px;
    font-weight: bold;

}

.title.question {
    border-top: 0;
    font-size: 50px;
    font-weight: bold;
}

main .last-question {
    border-bottom: 1px solid #999999;
}

.question i {
    font-size: 16px;
    font-weight: bold;
    padding-right: 3rem;
}











/* Footer */
footer {
    color: white;
    background-color: black;
    padding: 7rem 0 3rem 0;
}

.br-line {
    width: 120px;
    padding: 5rem 0 2rem 0;
    color: white;

}

.footer-span {
    display: block;
    padding-bottom: .5rem;
}

.top-flex {
    row-gap: 16px;

}

.footer-column {
    flex-grow: 1;
}

footer h1 {
    font-size: 25px;
    padding-bottom: 2rem;
}

.language-padding {
    padding-left: .3rem;
    padding-right: .1rem;
    font-size: 18px;
}